h4{
    color:rgb(4, 0, 255);
    text-align: center;
}
h3{
    color:rgb(75, 19, 139);
    text-align: center;
}
.hi{
    color: navy; 
    font-size:x-large;
}
.mi{
    text-transform: uppercase; 
    color:saddlebrown; 
    text-align: center; 
    font-size: 25px;
}
.div{
    border-collapse:collapse;
    width: 50%;
  } 

  th, td {
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #D6EEEE;
  } 